#ifdef COLOR
*Customization: -color
#else
*Customization: -mono
#endif

! Base16 Grayscale
#define col0  #101010
#define col1  #7c7c7c
#define col2  #8e8e8e
#define col3  #a0a0a0
#define col4  #686868
#define col5  #747474
#define col6  #868686
#define col7  #b9b9b9
#define col8  #525252
#define col9  #7c7c7c
#define col10 #8e8e8e
#define col11 #a0a0a0
#define col12 #686868
#define col13 #747474
#define col14 #868686
#define col15 #f7f7f7

! colorization
*.foreground:  col7
*.background:  col0
*.cursorColor: col7
*.color0:      col0
*.color1:      col1
*.color2:      col2
*.color3:      col3
*.color4:      col4
*.color5:      col5
*.color6:      col6
*.color7:      col7
*.color8:      col8
*.color9:      col9
*.color10:     col10
*.color11:     col11
*.color12:     col12
*.color13:     col13
*.color14:     col14
*.color15:     col15

! Xclock 
XClock*analog:      false
XClock*Clock.face:  hack 
XClock*foreground:  col7
XClock*background:  col0
XClock*majorColor:  col15
XClock*minorColor:  col15
XClock*hourColor:   col15
XClock*minuteColor: col15
XClock*secondColor: col15

! Xft
Xft*antialias: true
Xft*hinting:   true
Xft*hintstyle: hintfull
Xft*rgba:      rgb

! URxvt
URxvt*font:             xft:hack
URxvt*boldFont:         xft:hack:style=bold
URxvt*italicFont:       xft:hack:style=italic   
URxvt*geometry:         100x30
URxvt*cursorBlink:      true
URxvt*cursorUnderline:  true
URxvt.iso14755:         false
URxvt*letterSpace:      1
URxvt*lineSpace:        1
URxvt*scrollWithBuffer: false 
URxvt*scrollBar:        false
Urxvt*scrollBar_right:  false
URxvt*internalBorder:   10 
URxvt*urgentOnBell:     true

! Urxvt keybinds for copy/pasting
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
Rxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
